@mixin radius {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@mixin gradient($direction, $color) {
  @include linear-gradient(to $direction, $color 40%, lighten($color, 20%) 100%);
}
@mixin half-border {
  border-left: 4px solid darken($color-blue-med, 20%);
  border-top: 4px solid darken($color-blue-med, 20%);
}
